## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [1]:
for i in range(1,11):
    print("table of", i)
    for count in range(1,11):
        print(i*count)

table of 1
1
2
3
4
5
6
7
8
9
10
table of 2
2
4
6
8
10
12
14
16
18
20
table of 3
3
6
9
12
15
18
21
24
27
30
table of 4
4
8
12
16
20
24
28
32
36
40
table of 5
5
10
15
20
25
30
35
40
45
50
table of 6
6
12
18
24
30
36
42
48
54
60
table of 7
7
14
21
28
35
42
49
56
63
70
table of 8
8
16
24
32
40
48
56
64
72
80
table of 9
9
18
27
36
45
54
63
72
81
90
table of 10
10
20
30
40
50
60
70
80
90
100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [2]:
list1 = [2,4,3,6,7,8,5,4,2,9,9]
list2 = [4,7,4,8,4,2,5,2,1,6,9]
list3 = []
for i in range(0,len(list1)):
    if(i%2!=0):
        list3.append(list1[i])
for j in range(0,len(list2)):
    if(j%2==0):
        list3.append(list2[j])
print(list3)

[4, 6, 8, 4, 9, 4, 4, 4, 5, 1, 9]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [8]:
rows = 8

for i in range(0, rows):
    for j in range(0, i):
        print("  ", end="")

    for j in range(0, rows - i):
        print("* ", end="")

    print()

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [23]:
def exponent(base, exp):
    print(base**exp)
exponent(5,4)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [33]:

my_content = """line1
line2
line3
line4
line5
line6
line7"""

with open('test.txt', 'w') as file:
    file.write(my_content)
input_filename = 'test.txt'
output_filename = 'output.txt'
with open(input_filename, 'r') as infile, open(output_filename, 'w') as outfile:
    for line_number, line in enumerate(infile, start=1):
        if line_number != 5:
            outfile.write(line)

print(f"Content has been written to {output_filename}, skipping line 5.")

Content has been written to output.txt, skipping line 5.

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [20]:
input_names = input("Enter three names separated by spaces: ")

names = input_names.split()

for name in names:
    print(name)

Enter three names separated by spaces: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [21]:
def show_employee(name, salary=9000):
    print(f"Name: {name} salary: {salary}")

show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [19]:
import re

str1 = "Harry25 is Gryffindor Wizard50 and cursed"

result = re.findall(r'\b\w*\d\w*\b', str1)

for word in result:
    print(word)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [18]:
import re

str1 = '/*Modi is @Politician & Melony!!'

result = re.sub(r'[^\w\s]', '#', str1)

print("Output:", result)

Output: ##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [17]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result_set = set((x, y) for x, y in zip(first_list, second_list))

print("Result is", result_set)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [15]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("A - B:", A - B)
print("B - A:", B - A)
print("A ∩ B:", A.intersection(B))
print("A ∪ B:", A.union(B))

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [4]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
car = Vehicle(200, 30)
print("Max Speed:", car.max_speed)
print("Mileage:", car.mileage)

Max Speed: 200
Mileage: 30

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [7]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    def __init__(self, max_speed, mileage):
        super().__init__(max_speed, mileage)

school_bus = Bus(60, 10)

print("Bus Max Speed:", school_bus.max_speed)
print("Bus Mileage:", school_bus.mileage)

Bus Max Speed: 60
Bus Mileage: 10

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [8]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    def seating_capacity(self, capacity=50):
        return f"The seating capacity of a bus is {capacity} passengers"

school_bus = Bus("bus", 60, 10)

print(school_bus.seating_capacity())

The seating capacity of a bus is 50 passengers

**Q15**. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [11]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
        total_fare = super().fare()
        return total_fare + (total_fare * 0.10)
School_bus = Bus("School Volvo", 12, 50)

print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [12]:
import json

data = {"key1": "value1", "key2": "value2"}

json_data = json.dumps(data, indent=4)
print(json_data)

{
    "key1": "value1",
    "key2": "value2"
}

{
    "key1": "value1",
    "key2": "value2"
}

{'key1': 'value1', 'key2': 'value2'}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [13]:
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}
sorted_json = json.dumps(sampleJson, indent=4, sort_keys=True)

with open("sorted_data.json", "w") as file:
    file.write(sorted_json)

print(sorted_json)

{
    "age": 29,
    "id": 1,
    "name": "value2"
}